<a href="https://colab.research.google.com/github/paruvellasantosh/MyDataScience/blob/master/Pandas/PandasBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Core components of pandas:** **Series** and **DataFrames**

The primary two components of pandas are the Series and DataFrame.

A Series is essentially a column, and a DataFrame is a multi-dimensional table made up of a collection of Series.

In [1]:
import pandas as pd

data = { 'apples' : [3,2,0, 1], 'oranges' : [0,7,3,2]}

purchases = pd.DataFrame(data)
purchases

   apples  oranges
0       3        0
1       2        7
2       0        3
3       1        2